.container {
  width:80%;
}
#hidden {
  display: none;
}
#banner {
  background-color: #a0dfc0;
}
.title {
  text-align: center;
}
h1 {
  font-size: 350%;
}
.title {
  margin: 40px;
}
body {
  background-color: #ecf2f9;
}
#results {
  margin: 30px;
}
.blue {
  color: #0066ff;
}
.brown {
  color: #994c00;
}
hr {
  color: black;
}
.white {
  color: #e5ffff;
}
html, body {
  height:  %;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: #a0dfc0;
    padding-left: 20px;
    padding-top: 10px;
}
.sideBar {
  position: relative;
  margin-top: 25px;
  float: left;
  /*height: 100%;*/
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00cc66;
  margin-bottom: 400px;
}
#mainBody {
  padding-left: 50px;
}
