.container {
  width:95%;
}
#hidden {
  display: none;
}
#banner {
  background-color: #a0dfc0;
  margin-bottom: 15px;
}
.title {
  text-align: center;
  margin: 40px;
  font-family: fantasy;
}
h1 {
  font-size: 400%;
}
body {
  background-color: #ecf2f9;
}
#results {
  margin: 30px;
  padding-bottom: 60px;
}
.blue h4{
  color: #0066ff;
  font-size: 140%;
}
.brown h5 {
  color: #994c00;
  font-size: 130%;
}
hr {
  border-color: black;
}
.white h5 {
  color: #e5ffff;
  font-size: 115%;
}
html {
    position: relative;
    min-height: 100%;
}
.sideBar {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00cc66;
  min-height: 400px;
}
#mainBody {
  padding-left: 2px;
  overflow: auto;
}
.image{
  text-align: center;
  max-height: 40%;
  max-width: 100%
}
input#bigbutton {
  width:200px;
  background: #3e9cbf;
  padding: 4px 4px 4px;
  border:1px solid #3e9cbf;
  cursor:pointer;
  font-size:1.3em;
  font-family:sans-serif;
  letter-spacing:.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
input#bigbutton:hover, input#bigbutton:focus {
  color:#dfe7ea;
  -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
footer {
  color: red;
}

img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

#badgeEditImage {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

#editForm {
    display: none;
}

#search-form {
  display: none;
}

#badge-form {
  display: none;
}

#delete-search-form {
  display: none;
}

#delete-form {
  display: none;
}
